<div id="<%= dom_id room %>">
  <p>
    <strong>Title:</strong>
    <%= room.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= room.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= room.description %>
  </p>

</div>
