@import 'bootstrap-sprockets';
@import "bootstrap";

$gray: #808080;
$gray-medium-light: #EAEAEA;
$gray-light: #d3d3d3;
$gray-darker: #A9A9A9;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;

    &:hover{
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}